<%= raw @page.content_for(Refinery::Pages.default_parts.first[:title].to_sym) if Refinery::Pages.default_parts.any? %>

<div class="content-area">
  <% if @posts.any? %>
    <div id="posts">
      <%= render :partial => "/refinery/blog/shared/post", :collection => @posts %>
    </div>

    <div id="infinite-scrolling">
      <%= will_paginate @posts %>
    </div>
  <% end %>
</div>

<%= render "/refinery/content_page", :hide_sections => :body_content_title %>
