<div class="main-wrapper">
  <section class="main">
    <%= render 'post' %>
  </section>
</div>

<%= render "/refinery/content_page", :remove_automatic_sections => true %>

<% content_for :og_type do %>article<% end %>