<div class="widget">
  <h3 class="widget-title"><%= t('archives', :scope => 'refinery.blog.shared') %></h3>
  <ul class="sidebar-list">
    <% links.each do |link| %>
      <li><%= link %></li>
    <% end %>
  </ul>
</div>
