<h1 id='logo'>
  
</h1>

<header class="header">
  <form action="#" class="search-form" method="get">
    <fieldset>
      <input name="q" type="text" value="">
      <button class="sprites" name="search-submit" type="submit" value="Search"></button>
    </fieldset>
  </form>
  <div class="logo-holder">
      <h1 class="logo">
        <%= link_to Refinery::Core.site_name, refinery.root_path %>
      </h1>
      <p class="tag-line">
        A short description of the site.
      </p>
    </div>
</header>

<%= (navigation_menu true).to_html %>
