<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="IE=EmulateIE7" http-equiv="X-UA-Compatible">
    <meta content="width=1100" name="viewport">

    <title>Blue with Grey</title>

    <link rel="stylesheet" type="text/css" href="css/all.css">
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <form action="#" class="search-form" method="get">
          <fieldset>
            <input name="q" type="text" value="">
            <button class="sprites" name="search-submit" type="submit" value="Search"></button>
          </fieldset>
        </form>
        <div class="logo-holder">
            <h1 class="logo">
              <a href="#" name="top">Site Logo</a>
            </h1>
            <p class="tag-line">
              A short description of the site.
            </p>
          </div>
      </header>
      
      <nav class="nav">
        <ul class="menu">
          <li class="current">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>
      
      <div class="content">
        <section class="selected-tag">Tag 1</section>
        <section class="main">
          <article class="post">
            <h1 class="post-title">
              <a href="#" title="Permanent Link to Lorem Ipsum">Lorem Ipsum</a>
            </h1>
            <div class="post-meta-holder">
              <span class="post-meta">
                <span class="label">Posted Date: </span>
                Friday, March 2, 2012
              </span>
              <span class="post-meta">
                <span class="label">Tags: </span>
                <a href="#" rel="tag" title="View all posts in Lorem 1">Lorem 1</a>,
                <a href="#" rel="tag" title="View all posts in Lorem 2">Lorem 2</a>,
                <a href="#" rel="tag" title="View all posts in Lorem 3">Lorem 3</a>
              </span>
            </div>
            <div class="post-body">
              <figure>
                <img src="images/Antartic-by-Peter-Rejcek.jpg" alt="Antartic. By Peter Rejcek" width="500" height="332">
              </figure>
              <p>
                <strong>» A normal paragraph</strong>
              </p>
              <p>
                Ea eam labores imperdiet, apeirian democritum ei nam, doming neglegentur ad vis. Ne malorum ceteros feugait quo, ius ea liber offendit placerat, est habemus aliquyam legendos id. Eam no corpora maluisset definitiones, eam mucius malorum id. Quo ea idque commodo utroque, per ex eros etiam accumsan.
              </p>
              <p>
                <strong>» A paragraph format</strong>
              </p>
              <p>
                Et posse meliore <strong>definitiones (strong)</strong> his, vim <em>tritani vulputate (italic)</em> pertinacia at. <acronym title="Acronym">Augue quaerendum (Acronym)</acronym> te sea, ex <sub>sed</sub> <sup>sint</sup> <span style="text-decoration: line-through;">invenire erroribus</span>. Cu vel ceteros scripserit, te usu modus fabellas mediocritatem. In legere regione instructior eos. Ea repudiandae suscipiantur vim, vel partem labores ponderum in <a href="http://btemplates.com/" title="Templates for Blogger">blogger templates (link).</a>
              </p>
              <p>
                <strong>» A paragraph as code</strong>
              </p>
              <p>
                <code>Mel putent quaeque an, ut postea melius denique sit. Officiis sensibus at mea, sea at labitur deserunt. Eam dicam congue soluta ut.</code>
              </p>
              <p>
                <strong>» A paragraph as blockquote</strong>
              </p>
              <blockquote>
                <p>
                  Eu mei solum oporteat eleifend, libris nominavi maiestatis duo at, quod dissentiet vel te. Legere prompta impedit id eum. Te soleat vocibus luptatum sed, augue dicta populo est ad, et consul diceret officiis duo. Et duo primis
                </p>
              </blockquote>
              <p>
                <strong>» Unordered list</strong>
              </p>
              <ul>
                <li>Blogger templates</li>
                <li>Templates</li>
                <li>Blogs</li>
                <li>Layouts</li>
                <li>Skins</li>
                <li>BTemplates</li>
              </ul>
              <p>
                <strong>» Ordered list</strong>
              </p>
              <ol>
                <li>Login</li>
                <li>Visit <a href="http://btemplates.com/">BTemplates</a></li>
                <li>Download template</li>
                <li>Install</li>
                <li>Enjoy!</li>
              </ol>
              <p>
                <strong>» Heading</strong>
              </p>
              <h1>Heading 1</h1>
              <h2>Heading 2</h2>
              <h3>Heading 3</h3>
              <h4>Heading 4</h4>
              <p>
                <strong>» A table</strong>
              </p>
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <tr>
                    <th>Table Header 1</th>
                    <th>Table Header 2</th>
                    <th>Table Header 3</th>
                  </tr>
                  <tr>
                    <td>Division 1</td>
                    <td>Division 2</td>
                    <td>Division 3</td>
                  </tr>
                  <tr class="even">
                    <td>Division 1</td>
                    <td>Division 2</td>
                    <td>Division 3</td>
                  </tr>
                  <tr>
                    <td>Division 1</td>
                    <td>Division 2</td>
                    <td>Division 3</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="read-more">
              <a class="sprites" href="#" title="Lorem Ipsum">
                Read more...
              </a>
            </div>
            <div class="share-button-holder"><!--Share butons here--></div>
            <div class="prev-next-holder">
              <span class="next">
                <a class="sprites" href="#" title="Newer Post">
                  Newer Post
                </a>
              </span>
              <span class="prev">
                <a class="sprites" href="#" title="Older Post">
                  Older Post
                </a>
              </span>
            </div> 
          </article>
          
          <div class="pagination-holder">
            <ul class="pagination">
              <li class="arrow unavailable"><span>&laquo;</span></li>
              <li class="current"><span>1</span></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li class="unavailable"><span>&hellip;</span></li>
              <li><a href="#">12</a></li>
              <li><a href="#">13</a></li>
              <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
          </div>
        </section>

        <aside class="sidebar">
          <div class="widget">
            <h3 class="widget-title">Blogger Templates</h3>
            <ul class="sidebar-list">
              <li>
                <a href="#">SkyBlue</a>
              </li>
              <li>
                <a href="#">OrangeLine</a>
              </li>
              <li>
                <a href="#">Helix</a>
              </li>
              <li>
                <a href="#">Sevim</a>
              </li>
              <li>
                <a href="#">MXfluity</a>
              </li>
            </ul>
          </div>
          <div class="widget">
            <h3 class="widget-title">Blogger News</h3>
            <ul class="sidebar-list">
              <li>
                <a href="#">Customizing Blogger templates easily with Firebug</a>
              </li>
              <li>
                <a href="#">PaperCut, really cool social icons.</a>
              </li>
              <li>
                <a href="#">Blogger Dynamic Views</a>
              </li>
              <li>
                <a href="#">FreeDream, Blogger theme</a>
              </li>
            </ul>
          </div>
          <div class="widget">
            <h3 class="widget-title">Blogroll</h3>
            <ul class="sidebar-list">
              <li>
                <a href="#">BTemplates</a>
              </li>
              <li>
                <a href="#">BTemplates Blog</a>
              </li>
              <li>
                <a href="#">LiteThemes</a>
              </li>
            </ul>
          </div>
          <div class="widget">
            <h3 class="widget-title">Categories</h3>
            <ul class="sidebar-list">
              <li>
                <a href="#">Lorem 1</a>
              </li>
              <li>
                <a href="#">Lorem 2</a>
              </li>
              <li>
                <a href="#">Lorem 3</a>
              </li>
            </ul>
          </div>
          <div class="widget">
            <h3 class="widget-title">Archives</h3>
            <ul class="sidebar-list archive-list">
              <li class="archive-year expanded">
                <a class="post-year-link" href="#">2012</a>
                <ul class="hierarchy">
                  <li class="archive-month expanded">
                    <a class="post-month-link" href="#">March</a>
                    <ul class="post-list">
                      <li>
                        <a href="#">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="#">Template images</a>
                      </li>
                    </ul>
                  </li>
                  <li class="archive-month expanded">
                    <a class="post-month-link" href="#">January</a>
                    <ul class="post-list">
                      <li>
                        <a href="#">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="#">Lorem Ipsum</a>
                      </li>
                      <li>
                        <a href="#">Template images</a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </aside>
      </div>

      <nav class="nav bottom-nav">
        <ul class="menu">
          <li class="current">
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href="#">Contact</a>
          </li>
        </ul>
      </nav>

      <footer class="footer">
        <p>
          Copyright: Copyright information text here.
        </p>
        <p>
          Design: <a href="http://ugesi.de/" target="_blank">Ugesi</a>
        </p>
      </footer>
    </div>
  </body>
</html>
