<% if @categories.any? %>
  <div class="widget">
    <h3 class="widget-title"><%= t('.title') %></h3>
    <ul class="sidebar-list">
      <% @categories.each do |category| %>
        <li<%= " class='selected'" if @category.present? and @category.id == category.id %>>
          <%= link_to "#{category.title} (#{category.post_count})", refinery.blog_category_path(category) %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>