window.pageHtmls[<%= (request.query_parameters['page'] || 1).to_i %>] = '<div data-page="<%= request.query_parameters['page'] || 1 %>"><%= j render(partial: '/refinery/blog/shared/post', collection: @posts) %></div>'
