<% if post.live? %>
  <article class="post">
    <header class="entry-header">
      <h1 class="entry-title"><%= link_to post.title, refinery.blog_post_path(post) %></h1>      
    </header>

    <div class="entry-content">
      <%= blog_post_teaser(post) %>
      <p class="read-more">
        <%= link_to t('continue_reading'), refinery.blog_post_path(post) %>
      </p>
    </div>

    <%= render :partial => "/refinery/blog/shared/post_meta", locals: { post: post } %>
  </article>
<% end %>
