<% if @posts.many? %>
  <div class="widget">
    <h3 class="widget-title"><%= t('.other') %></h3>
    <ul class="sidebar-list">
      <% @posts.each do |blog_post| %>
        <li><%= link_to blog_post.title, refinery.blog_post_path(blog_post) %></li>
      <% end %>
    </ul>
  </div>
<% end %>