<div class="entry-meta">
  <div class="tags-links">
    <% post.categories.each do |category| %>
      <%= link_to category.title, refinery.blog_category_path(category) %>
    <%end %>
  </div>
  <div class="posted-on">
    <%=t('blog_posted_date') %> <%= post.published_at.to_date.strftime("%B %d, %Y") %>
  </div>
  <div class="secondary-entry-meta"></div>
</div>
