<div class="widget">
  <h3 class="widget-title"><%= t('share_this_page') %></h3>
  <div class="sidebar-list" id="qr-code"></div>
  <div class="jiathis_style_32x32 sidebar-list">
    <a class="jiathis_button_fb">
      <span class="at-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" title="Facebook" alt="Facebook" class="at-icon at-icon-facebook">
          <g>
            <path d="M21 6.144C20.656 6.096 19.472 6 18.097 6c-2.877 0-4.85 1.66-4.85 4.7v2.62H10v3.557h3.247V26h3.895v-9.123h3.234l.497-3.557h-3.73v-2.272c0-1.022.292-1.73 1.858-1.73h2V6.143z" fill-rule="evenodd"></path>
          </g>
        </svg>
      </span>
    </a>
    <a class="jiathis_button_twitter">
      <span class="at-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" title="Twitter" alt="Twitter" class="at-icon at-icon-twitter">
          <g>
            <path d="M26.67 9.38c-.78.35-1.63.58-2.51.69.9-.54 1.6-1.4 1.92-2.42-.85.5-1.78.87-2.78 1.06a4.38 4.38 0 0 0-7.57 3c0 .34.04.68.11 1-3.64-.18-6.86-1.93-9.02-4.57-.38.65-.59 1.4-.59 2.2 0 1.52.77 2.86 1.95 3.64-.72-.02-1.39-.22-1.98-.55v.06c0 2.12 1.51 3.89 3.51 4.29a4.37 4.37 0 0 1-1.97.07c.56 1.74 2.17 3 4.09 3.04a8.82 8.82 0 0 1-5.44 1.87c-.35 0-.7-.02-1.04-.06a12.43 12.43 0 0 0 6.71 1.97c8.05 0 12.45-6.67 12.45-12.45 0-.19-.01-.38-.01-.57.84-.62 1.58-1.39 2.17-2.27z"></path>
          </g>
        </svg>
      </span>
    </a>
    <a class="jiathis_button_linkedin">
      <span class="at-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" title="LinkedIn" alt="LinkedIn" class="at-icon at-icon-linkedin">
          <g>
            <path d="M25 24.967h-3.77v-5.902c0-1.407-.025-3.217-1.96-3.217-1.963 0-2.263 1.534-2.263 3.117v6.002H13.24V12.832h3.615v1.66h.053c.502-.955 1.733-1.96 3.567-1.96 3.82 0 4.525 2.512 4.525 5.78v6.655zM8.988 11.174a2.186 2.186 0 0 1 0-4.374 2.187 2.187 0 0 1 0 4.374zm-1.89 1.658h3.777v12.135H7.1V12.832z" fill-rule="evenodd"></path>
          </g>
        </svg>
      </span>
    </a>
    <a class="jiathis_button_tsina">
      <span class="at-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" title="Sina Weibo" alt="Sina Weibo" style="width: 32px; height: 32px;" class="at-icon at-icon-sinaweibo">
          <g>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M27.633 13.018a6.845 6.845 0 0 1-.308 1.9c-.132.425-.615.675-1.052.546-.448-.13-.717-.576-.592-1.017.14-.493.25-.99.23-1.505-.05-1.373-.597-2.507-1.667-3.373-.868-.704-1.872-1.013-2.982-.968-.23.012-.458.065-.69.088-.237.022-.47.02-.68-.133a.82.82 0 0 1-.358-.797c.033-.303.187-.555.48-.666.204-.08.427-.115.645-.148.253-.04.512-.082.767-.076 1.545.033 2.936.5 4.107 1.535a5.997 5.997 0 0 1 1.374 1.72 5.99 5.99 0 0 1 .693 2.392l.036.5z"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M24.452 12.92c-.004.458-.036.813-.202 1.14-.154.307-.498.44-.85.345-.312-.08-.513-.358-.5-.698.005-.107.017-.217.045-.32.197-.697-.212-1.502-.892-1.76a1.58 1.58 0 0 0-.917-.074c-.363.072-.762-.194-.83-.55-.083-.416.17-.82.566-.893 1.063-.188 1.995.073 2.755.854.555.568.824 1.26.825 1.955zM13.164 24.405c-1.506-.02-2.884-.27-4.16-.95a5.134 5.134 0 0 1-1.4-1.068c-1.096-1.196-1.223-2.77-.33-4.132.606-.926 1.45-1.574 2.42-2.074 1.106-.57 2.285-.886 3.52-1.01 1.333-.138 2.642-.04 3.92.362.974.31 1.858.77 2.574 1.516.597.617.958 1.348.993 2.213.027.68-.17 1.304-.52 1.88-.528.87-1.28 1.504-2.15 2.004-1.242.715-2.588 1.09-4.007 1.213-.158.012-.316.02-.475.027-.153.01-.307.017-.384.02zm-.173-.96c.157-.017.435-.032.706-.087 1.168-.243 2.12-.826 2.744-1.863.915-1.527.412-3.276-1.168-4.095a3.713 3.713 0 0 0-2.19-.38c-1.265.15-2.305.707-3.034 1.767-.834 1.214-.7 2.743.313 3.708.702.666 1.56.932 2.63.95z"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M23.46 16.766c-.515-.4-1.098-.663-1.72-.852-.342-.104-.4-.252-.275-.582.19-.493.332-.996.28-1.532-.043-.445-.223-.82-.582-1.096-.526-.404-1.146-.475-1.777-.46-.82.022-1.607.216-2.376.49-.313.11-.622.23-.935.34-.113.038-.238.06-.335-.044-.094-.098-.05-.21-.017-.32.15-.506.245-1.02.215-1.553-.052-.892-.58-1.475-1.467-1.602-.55-.076-1.084.017-1.61.174-1.156.34-2.177.942-3.14 1.645a16.59 16.59 0 0 0-3.106 2.977c-.818 1.012-1.512 2.097-1.922 3.345-.287.866-.426 1.747-.24 2.66.23 1.136.85 2.034 1.705 2.784.94.83 2.04 1.382 3.215 1.786 1.546.53 3.14.773 4.774.803.507-.036 1.017-.063 1.523-.108a13.32 13.32 0 0 0 3.954-.96c1.394-.575 2.65-1.358 3.67-2.488.53-.587.953-1.24 1.2-1.998.434-1.325.064-2.552-1.033-3.41zm-3.28 4.374c-.528.87-1.28 1.504-2.15 2.004-1.242.715-2.588 1.09-4.007 1.213-.158.012-.316.02-.475.027-.153.01-.307.018-.384.02-1.506-.02-2.884-.27-4.16-.95a5.134 5.134 0 0 1-1.4-1.067c-1.096-1.196-1.223-2.77-.33-4.132.606-.926 1.45-1.574 2.42-2.074 1.106-.57 2.285-.886 3.52-1.01 1.333-.138 2.642-.04 3.92.362.974.31 1.858.77 2.574 1.516.597.617.958 1.348.993 2.213.027.678-.172 1.303-.52 1.88z"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.79 22.02c-.337-.016-.7-.155-.91-.553-.208-.396-.137-.78.11-1.135.29-.42.706-.63 1.212-.644.725-.018 1.232.57 1.087 1.248-.055.248-.18.46-.356.64-.27.275-.67.445-1.144.445zM13.462 19.65c-.002-.27.245-.505.532-.507.238 0 .427.168.427.384.003.26-.26.503-.54.507-.243.002-.417-.156-.418-.383z"></path>
          </g>
        </svg>
      </span>
    </a>
    <a class="jiathis_button_qzone">
      <span class="at-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" title="Qzone" alt="Qzone" class="at-icon at-icon-qzone">
          <g>
            <g></g>
            <path d="M25.953 21.182c1.045-.192.53-.576.1-.53-.78.074-1.89.088-3.105.06l.143.824a29.6 29.6 0 0 0 2.863-.354z"></path>
            <path d="M29.17 13.012a.254.254 0 0 0-.207-.172l-8.798-1.28-3.936-7.973c-.087-.173-.374-.173-.46 0l-3.936 7.974-8.797 1.28a.254.254 0 0 0-.206.172.26.26 0 0 0 .066.262l6.366 6.21-1.503 8.76a.252.252 0 0 0 .102.25.255.255 0 0 0 .268.02l7.87-4.14 7.87 4.14a.247.247 0 0 0 .268-.02.257.257 0 0 0 .102-.252l-1.15-6.707c-1.274.102-2.54.145-3.57.145-3.613 0-6.306-.168-6.346-.17a.76.76 0 0 1-.687-.552.76.76 0 0 1 .284-.833l7.265-5.277a99.355 99.355 0 0 0-8.632-.295c-.632.032-1.2-.166.03-.67.208-.083 5.105-1.114 10.766-.345.31.042.562.27.64.573s-.04.624-.294.807l-7.104 5.16c1.3.267 4.695.563 7.505.633l-.21-1.228 6.366-6.21a.256.256 0 0 0 .066-.26z"></path>
          </g>
        </svg>
      </span>
    </a>
    <a class="jiathis_button_douban">
      <span class="at-icon-wrapper">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" title="Douban" alt="Douban" class="at-icon at-icon-douban">
          <g>
            <path d="M5.75 5.51H26.3V8.1H5.75zM20.74 23.98l1.93-4.29h2.21V9.72h-18v9.98h2.04l1.93 4.29H5.07v2.51h21.85v-2.51l-6.18-.01zM10 17.03v-4.88h11.68v4.88H10zm7.99 6.95h-4.37l-1.93-4.29h8.24l-1.94 4.29z"></path>
          </g>
        </svg>
      </span>
    </a>
    <span class="stretch"></span>
  </div>
</div>
