<div class="widget">
  <h3 class="widget-title"><%= t('share_this_page') %></h3>
  <div class="addthis_toolbox addthis_default_style addthis_32x32_style sidebar-list">
    <a class="addthis_button_facebook" title="Facebook" href="#"></a>
    <a class="addthis_button_twitter" title="Twitter" href="#"></a>
    <a class="addthis_button_linkedin" title="LinkedIn" href="#"></a>
    <a class="addthis_button_sinaweibo" title="Sina Weibo" href="#"></a>
    <a class="addthis_button_douban" title="Douban" href="#"></a>
    <a class="addthis_button_qzone" title="Q Zone" href="#"></a>
    <span class="stretch"></span>
  </div>
</div>
