<div class="widget">
  <h3 class="widget-title"><%= t('share_this_page') %></h3>
  <div class="sidebar-list" id="qr-code"></div>
  <div class="jiathis_style_32x32 sidebar-list">
    <a class="jiathis_button_fb"></a>
    <a class="jiathis_button_twitter"></a>
    <a class="jiathis_button_linkedin"></a>
    <a class="jiathis_button_tsina"></a>
    <a class="jiathis_button_qzone"></a>
    <a class="jiathis_button_douban"></a>
    <span class="stretch"></span>
  </div>
</div>
